server:
  port: 8080
  servlet:
    context-patch: /identity

spring:
#  config:
#    activate:
#      on-profile: prod
  datasource:
    url: jdbc:mysql://localhost:3306/indentity_service
    username: root
    password: root
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
